.small{
    max-width: 40px;
    max-height: 20px;
    overflow: hidden;
}
.selectOpts{
    vertical-align: top;
}
.selectOpts label{
    display: inline-block
}
#container>div{
    width: 100px;
    border: dashed black 1px;
    margin: 5px; padding: 5px;
}

div>strong {
    display: inline-block;
    padding: 3px;
    background: #eee;
    border-radius: 3px;
    border: solid black 1px;
    margin: 3px;
}
.synced{
    background-color: rgb(200, 243, 191);
}
.loading{
    background-color: rgb(239, 241, 108);
}

.found{
    color: green;
}
.notfound{
    color: red;
}
.isproto{
    font-style: italic;
    background: white;
}
#overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    left: 0px;
    top: 0px;
    background: rgba(180,180,180,0.8);
    display: none;
}
#overlay>div{
    position: absolute;
    left: 50%;
    top: 50%;
}
#select label>select,#select label>input,#select label>textarea{
    display: block;
    width: 200px;
}

.controls>form>div{
    margin: 5px;
    padding: 5px;
    background-color: #eee;
    border: dashed silver 1px;
}
.nav-link{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-right: 5px;
}
.notConnected{
    opacity: 0.4;
}
.nav-link{
    cursor: pointer;
}
.filterActive .dropdown-toggle{
    color: rgb(255, 133, 23);
}
.filterActive .dropdown-toggle:before{
    content: '\f0b0';
    font-family: FontAwesome;
    font-weight: normal;
    margin-right: 10px;
}
.transform>form>div{
    display: none;
}
.transform div.alert{
    min-height: 50px;
}
.transform.active>form>div{
    display: unset;
}
.transform.active textarea{
    width: 400px;
    height: 100px;
}
table, th, td {
    border: 1px solid #c3c3c3;
    border-collapse: collapse;
  }

table>thead{
    background-color: rgb(147, 167, 209);
    color: white;
}
table>tbody tr:hover{
    background: #e7e7e7;
}
table>thead{
    text-align: center;
}

tr{
    background: white;
}
tbody>tr.selected{
    background: #dfedff;;
}
table td{
    white-space: pre;
}
#overlay{
    display: none;
}
.overlay {
    height: 100vh;
    position:sticky;
    top: 0px;
    width: 100%;
    background: rgba(255,255,255,0.5);
    z-index: 1000000;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#warning{
    opacity: 1;
    background: #f1f1f1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
footer .nav-link{
    color: white;
}
#actionMenu .dropdown {
    z-index: 10000000;
}
.dataTable .badge{
    font-size: 1rem;
}
.dataTable{
    table-layout: fixed;
    width: 100%;
}
.dataTable tbody > tr.virt-row > td {
    height: 28px;
    max-height: 28px;
    box-sizing: border-box;
}
.dataTable tbody > tr.virt-row > td.cell {
    overflow: hidden;
    text-overflow: ellipsis;
}
.dataTable tbody > tr.virt-row > td.editing {
    max-height: none;
    height: auto;
}
.dataTable tbody > tr.virt-spacer > td {
    border: none !important;
    padding: 0 !important;
    background: transparent !important;
}
.dataTable tbody td.editing{
    background: #0B0A09;
    color: greenyellow;
    overflow: scroll;
    white-space: normal;
    word-wrap: break-word
}
.dataTable tbody td.active{
    background: #00AEEF;
    color: white;
    word-wrap: break-word;
}
.dataTable td{
    white-space: normal;
    vertical-align: top;
    overflow: hidden;
    text-overflow: "....";
}
.dataTable td:first-child,.dataTable td:nth-child(2){
    overflow: visible;
}
.dataTable tr:has(.cell.active){
    background: #f0efc3;
}
.dataTable th{
    width: 130px;
}
.dataTable tbody>tr.success td{
    background: #e8ffec;
}

.dataTable tbody>tr.error td{
    background: #fff2e2;
}
.dataTable tbody>tr.error td.editing{
    background: black;
}
.dataTable tbody>tr.error td.active{
    background: silver !important;
}

.dataTable td:first-child{
    width: 60px !important;
    min-width: 60px !important;
    position: sticky;
    left: 0;
    background: white;
}
.dataTable>thead>tr>th {
    z-index: 100;
    position: sticky;
    border: 1px solid black;
    border-collapse: collapse;
    background-color: rgb(147, 167, 209);
    top: 0px; /* Don't forget this, required for the stickiness */
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}
.dataTable>thead>tr>th:first-child {
    left: 0;
    width: 40px;
    z-index: 110;
}
.dataTable>thead>tr>th:nth-child(2) {
    left: 40px;
    width: 100px;
    z-index: 110;
}
.dataTable td:nth-child(1){
    text-align: center;
}
.dataTable td:nth-child(2){
    position: sticky;
    left: 40px;
    background-color: white;
    text-align: center;
}


.hightlight{
    /*background: #00AEEF;*/
    background: rgb(253, 243, 103) !important;
}

#worksheets{
    scrollbar-width: 20px;
    flex-grow: 1; overflow: scroll;
    scrollbar-color: rgb(36, 41, 107);
}

#tranformDialog label{
    display: block;
}


.nav-item:hover{
    border-radius: 3px;
    background-color: #cfcfcf;

}
.nav-item:hover a.nav-link.active{
    color: black;
}
.fields_reorder{
    max-height: 500px;
    overflow: auto;
    font-size: 0.8rem;
    font-weight: bold;
}
.fields_reorder>div{
    margin-bottom: 3px;
    background-color: #f0f0f0;
    border: solid black 1px;
    border-radius: 5px;
    padding: 3px;
}
.fields_reorder>div:hover{
    background-color: #f0efc3;

}

.addremove:hover span{
    display: inline;
}
.addremove span{
    display: none;
}
@media (max-width:575.98px) {
    .navbar-collapse .nav-item {
        margin-bottom: 10px;
        border-bottom: solid lightgrey 1px;
    }
}
#sheetSelector .nav-item .removesheet{
    display: none;
}
#sheetSelector .nav-item:hover .removesheet{
    display: inline;
}
.cols-sort{
    margin: 0;
    padding: 0;
}
.cols-sort li{
    border: solid silver 1px;
    background-color: #eeefe6;
    font-size: 12px;
    padding: 3px;
    margin: 0;
    margin-bottom: 2px;

}
#worksheets{
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

}
.compress{
    /*width: 50px !important;*/
    max-width: 70px !important;
}
.pre{
    background-color: rgb(199, 201, 211);
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
}
.filter.dropdown.show{
    min-width: 200px;
    width: 100%;
}
.transform.active{
    min-width: 400px;
}

.draggableModal, .draggableModal.ui-resizable{
    position: absolute;
    width: 600px;
    top: 50px;
    left: 50px;
    white-space: normal;
    overflow: hidden;
    z-index: 1000;
    box-shadow: 5px 5px 10px #525252;
    border-radius: 10px;

    border: solid #525252 1px;
}

.draggableModal .card-header{
    font-weight: bold;
    padding: 10px;
    background-color: #e8e8e8;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;

}
.draggableModal .card-body{
    overflow: auto;
    padding: 10px;
}
.draggableModal>*{
    padding: 10px;
}
#editor {
    width: 100%;
    height: 400px;
}
#transformXpression {
    width: 100%;
    height: 150px;
}
#top{
    background: rgb(101,117,194);
    background: linear-gradient(180deg, rgba(101,117,194,1) 0%, rgba(171,184,207,1) 70%);
}
#top .nav-item:hover{
    background: #FFEC74;
}
#mainView{
    width: 100vw; height: 100vh; display: flex;flex-direction:column;
}
